* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	font-family: 'Karla', sans-serif;
	background-color: hsl(204, 43%, 93%);
	display: grid;
	place-items: center;
}
main {
	background-color: white;
	max-width: 51vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25.5vw, 1fr));
	overflow: hidden;
	border-radius: 0.9rem;
	box-shadow: 0 1rem 1.5rem 0 hsl(185, 75%, 25%, .5);;
  -moz-box-shadow: 0 1rem 1.5rem 0 hsl(185, 75%, 25%, .5);
  -webkit-box-shadow: 0 1rem 1.5rem 0 hsl(185, 75%, 25%, .5);
	-webkit-border-radius: 0.9rem;
	-moz-border-radius: 0.9rem;
	-ms-border-radius: 0.9rem;
	-o-border-radius: 0.9rem;
}
@media (width: 375px) {
	main {
		max-width: 90vw;
    grid-template-columns: 1fr;
	}
}
main .box-one {
	background-color: white;
	grid-area: 1 / 1 / 2 / 3;
	padding: 40px;
}
main .box-one h1 {
	color: hsl(179, 62%, 43%);
	margin-bottom: 1.5em;
}
main .box-one .special {
	color: hsl(71, 73%, 54%);
	margin-bottom: 1em;
}
main .box-one p:last-child {
	color: hsl(218, 22%, 67%);
	line-height: 2em;
}
main .box-two {
	padding: 40px;
	background-color: hsl(179, 62%, 43%);
	color: white;
}
@media (width: 375px) {
	main .box-two {
		grid-area: 2 / 1 / 3 / 3;
	}
}
main .box-two h2 {
	font-size: 1.3em;
	margin-bottom: .7em;
}
main .box-two .price {
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom: 0.2em;
}
main .box-two .price > span {
	font-weight: normal;
	font-size: .5em;
}
main .box-two p:last-of-type {
	font-size: .94em;
	margin-bottom: 2em;
}
main .box-two button {
	background-color: hsl(71, 73%, 54%);
	color: white;
	border: none;
	width: 100%;
	padding: 1.1em;
	border-radius: 0.4em;
	box-shadow: 0 1rem 1.5rem 0 hsl(185, 75%, 25%, .5);;
  -moz-box-shadow: 0 1rem 1.5rem 0 hsl(185, 75%, 25%, .5);
  -webkit-box-shadow: 0 1rem 1.5rem 0 hsl(185, 75%, 25%, .5);
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	-o-border-radius: 0.4em;
}
main .box-three {
	background-color: #4ABEBD;
	color: white;
	padding: 40px;
}
main .box-three h2 {
	margin-bottom: 1.1em;
}
main .box-three p {
	line-height: 1.5em;
}
@media (width: 375px) {
	footer {
		margin-top: 2em;
	}
}